<%= form_for(@userinfo) do |f| %>
  <% if @userinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userinfo.errors.count, "error") %> prohibited this userinfo from being saved:</h2>

      <ul>
      <% @userinfo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :idcard %><br>
    <%= f.text_field :idcard %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
