<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @userinfo.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @userinfo.age %>
</p>

<p>
  <strong>Idcard:</strong>
  <%= @userinfo.idcard %>
</p>

<%= link_to 'Edit', edit_userinfo_path(@userinfo) %> |
<%= link_to 'Back', userinfos_path %>
